.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE/Edge */
  user-select: none;
  /* non-prefixed version, currently not supported by any browser */
}

#roster-container .card-panel .row,
#roster-container .row {
  margin-bottom: 0;
}
#market-container-container .card-panel .row,
#market-container .row {
  margin-bottom: 0;
}

.card-panel.hoverable {
  opacity: 1;
  transition: opacity .25s ease-in-out, box-shadow .25s;
  -moz-transition: opacity .25s ease-in-out, box-shadow .25s;
  -webkit-transition: opacity .25s ease-in-out, box-shadow .25s;
  -o-transition: opacity .25s ease-in-out, box-shadow .25s;
}

.card-panel.hoverable.disabled {
  opacity: 0.4;
  transition: all .25s;
  -moz-transition: opacity .25s ease-in-out, box-shadow .25s;
  -webkit-transition:opacity .25s ease-in-out, box-shadow .25s;
  -o-transition: opacity .25s ease-in-out, box-shadow .25s;
}
